VITE_FIREBASE_API_KEY=your_api_key
VITE_FIREBASE_AUTH_DOMAIN=iot-buoy.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://iot-buoy-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=iot-buoy
VITE_FIREBASE_STORAGE_BUCKET=iot-buoy.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=717494781038
VITE_FIREBASE_APP_ID=your_app_id
VITE_FIREBASE_MEASUREMENT_ID=G-XXXXXXXXXX
